.hero-impact-container .hero-impact-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-impact {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero-impact h1,
.hero-impact h2,
.hero-impact h3,
.hero-impact h4,
.hero-impact h5,
.hero-impact h6,
.hero-impact p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero-impact.no-image * {
  color: var(--text-color);
}

.hero-impact picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-impact img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-impact {
    padding: 40px 32px;
  }
}
